@inherits LayoutComponentBase

<div class="d-flex flex-column page">
    <div class="topbar">
        HEADER BAR
    </div>

    <main class="d-flex flex-row">
        <div class="sidebar">
            <NavMenu />
        </div>

        <article>
            @Body   
        </article>
    </main>

    <div class="bottombar">
        LOG BAR
    </div>
</div>
