

.nav-item ::deep .nav-link {
    /*color: #d7d7d7 !important;*/
    position: relative;
    display: inline-block;
}

    /* резервируем ширину жирного текста */
    .nav-item ::deep .nav-link::after {
        content: attr(data-text);
        font-weight: var(--nav-link-text-boldness);
        visibility: hidden;
        height: 0;
        overflow: hidden;
        display: block;
    }

.nav-item ::deep a.active {
    font-weight: var(--nav-link-text-boldness);
}

/* Если ширина окна браузера (или вьюпорта) составляет 641 пиксель или больше */
@media (min-width: 641px) {

}
