@using SIH.Features.ManageNavMenu

@inherits LayoutComponentBase

<div class="d-flex flex-column page">
    <main class="d-flex flex-column">        
        <NavMenu />
       
        <article>
            @Body   
        </article>
    </main>
</div>
